:root {
    --primary-color: #fff;
    --secondary-color: #EBEBEB;
    --font-color: rgb(107, 105, 105);
    --hover-color: #D0D0D0;
}

.dark {
    --primary-color: #222;
    --secondary-color: #363535;
    --font-color: rgb(243, 239, 239);
    --hover-color: #626060;
}


* {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: arial;
}

body {
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 10px 10px 10px 10px;

}

header img {
    height: 30px;
    width: 30px;
    position: relative;
}

.top1 {
    display: flex;
    gap: 5px;
}

.top1 input {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding-left: 10px;
    width: 200px;
    border: 0px;
    border-radius: 40px;
}

.top2 {
    display: flex;
    gap: 95px;
}

.top3 {
    display: flex;
    padding-right: 30px;
    gap: 15px;
}

#ppff {
    display: none;
    position: absolute;
    background-color: white;
    top: 58px;
    right: 50px;
    border-radius: 15px;
    padding: 5px 8px;
    font-size: 24px;
}

#ppff p {
    padding: 8px 10px;
}

#ppff p:hover {

    background-color: var(--hover-color);
}

#main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.acc {
    display: flex;
    gap: 15px;
    padding-left: 9px;
    font-size: 20px;
    color: var(--font-color);
    align-items: center;
}

.acc:hover {
    background-color: var(--hover-color);

    border-radius: 20px;
}

.acc img {
    height: 45px;
    width: 45px;
    border-radius: 50px;
}

.acct {
    display: flex;
    padding: 8px 10px 10px 10px;
    color: var(--font-color);
    gap: 13px;
    align-items: center;
}

.acct:hover {
    background-color: var(--hover-color);
    border-radius: 20px;
}

.acct img {
    height: 35px;
    width: 35px;
}


.content {
    margin: 0 120px 0 150px;
}

.uplodbox {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.uplod {
    display: flex;
    gap: 7px;
    padding-bottom: 5px;
}

.uplod input {
    border-radius: 20px;
    width: 350px;
    padding-left: 8px;
    border: 0px;
    background-color: var(--secondary-color);
    color: var(--font-color);

}

.uplod img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.uplodst {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}

.live {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.live img {
    width: 20px;
    height: 20px;
}

.story {
    display: flex;
    justify-content: space-between;
    width: 550px;
    overflow: hidden;
    overflow-x: scroll;
    padding: 3px 0 3px 0;
    gap: 10px;
    margin: 5px;
}

.story::-webkit-scrollbar {
    display: none;
}

.storyimg {
    width: 130px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.img-story {
    position: relative;
}

.cs-div {
    position: absolute;
    background-color: var(--primary-color);
    bottom: 4px;
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 35px;
}

.create-story {
    color: var(--font-color);
    padding-top: 18px;
    font-size: 12px;
    text-align: center;
}

.storyplus img {
    position: absolute;
    background-color: var(--primary-color);
    left: 45px;
    z-index: 1;
    border: 3px solid var(--primary-color);
    bottom: 21.5px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.pp {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid blue;
}

.ppname {
    position: absolute;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 12px;
    bottom: 10px;
    left: 5px;
}

.post {
    background-color: var(--primary-color);
    border-radius: 15px;
    margin-top: 5px;
}

.accname {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.accprf {
    display: flex;
    align-items: center;
    gap: 10px;
}

.accimg {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.acccancel {
    width: 20px;
    height: 20px;
    gap: 30px;
}

.items img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.likecount {
    display: flex;
    align-items: center;
}

.likecount img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.like {
    display: flex;
    justify-content: space-between;
}

.like img {
    width: 20px;
    height: 20px;
}

.cmt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    background-color: var(--primary-color);
}

.cmt:hover {
    background-color: var(--hover-color);
}

.rightsb {
    position: sticky;

}

.topcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img {
    width: 23px;
    height: 23px;
}

.friends {
    margin-left: 5px;
    margin-right: 5px;
}

.friends:hover {
    background-color: var(--hover-color);
    border-radius: 20px;

}

.friendprf {
    display: flex;
    padding: 10px 10px 10px 13px;
    gap: 13px;
    align-items: center;
}

.friendprf img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.leftsb,
.rightsb {
    position: sticky;
    top: 60px;
    height: fit-content;
}

.addfrd {
    display: flex;
    justify-content: space-between;
}

.frd {
    display: flex;
    padding: 10px;
    gap: 5px;
}

.frnd-req-pp {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.cnf {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.cnf button {
    padding: 10px;
    border-radius: 5px;
    border: 0px;

}

.mutual-frd,
.mutualimg {
    display: flex;
}

.mutualimg img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.mutualimg {
    position: relative;
}

.mutual2 {
    position: absolute;
    left: 10px;
}

.mutual1 {
    z-index: 10;
}

.mutual1 img {
    border: 1px solid var(--primary-color);
}

#msg1 {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    top: 58px;
    right: 50px;
    border-radius: 15px;
    padding: 5px 8px;
    font-size: 24px;
}

#msg-box {
    display: none;
    position: relative;
}
#mesg {
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: red;
    bottom: 0;
    right: 250px;
    z-index: 9;
}

.mesg-box{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    border-radius: 20px;
}
.msg-box-ppf{
    display: flex;
    justify-content: space-between;
}

.msg-box-img, .msg-box-close{
    width: 15px;
    height: 15px;
}